/seccion4/nbproject/private/
/seccion3/variables-en-java/nbproject/private/
/seccion3/variables-en-java/build/
/seccion3/InferenciaDeDatos/nbproject/private/
/seccion3/V07-variables-en-java/nbproject/private/
/seccion3/V09-InferenciaDeDatos/nbproject/private/
/seccion3/V09-InferenciaDeDatos/build/
/seccion3/V10-Reglas-para-definir-una-variable-en-java/nbproject/private/
/seccion3/V11-Ejercicios-concatenacion/nbproject/private/
/seccion3/V11-Ejercicios-concatenacion/build/
/seccion4/V15-Tipos-Primitivos/nbproject/private/
/seccion4/V12-Ejercicio-Caracteres-Especiales/nbproject/private/
/seccion4/V12-Ejercicio-Caracteres-Especiales/build/
/seccion3/V12-Ejercicio-Caracteres-Especiales/nbproject/private/
/seccion3/V13-Clase-Scanner/nbproject/private/
/seccion3/V13-Clase-Scanner/build/
/seccion3/V10-Reglas-para-definir-una-variable-en-java/build/
/seccion3/TAREA-V14-Detalles-Libro/nbproject/private/
/seccion3/TAREA-V14-Detalles-Libro/build/
/seccion3/V14-TAREA-Detalles-Libro/nbproject/private/
/seccion04/V15-Tipos-Primitivos/nbproject/private/
/seccion04/V15-Tipos-Primitivos/build/
/seccion04/V15-Tipos-Primitivos - Byte/nbproject/private/
/seccion04/V15-Tipos-Enteros-Numericos/nbproject/private/
/seccion04/V16-Tipos-Primitivos - Byte/nbproject/private/
/seccion04/V15-Tipos-Enteros-Numericos/build/
/seccion04/V16-Tipos-Enteros-Numericos/nbproject/private/
/seccion04/V16-Tipos-Enteros-Numericos/build/
/seccion04/V15-Tipos-Primitivos-Byte/nbproject/private/
/seccion04/V15-Tipos-Primitivos-Byte/build/
/seccion04/V17_Ejercicio_Tipos_primitivos_flotantes/nbproject/private/
/seccion04/V17_Ejercicio_Tipos_primitivos_flotantes/build/
